<h1>Ven y visítanos</h1>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= ponImagen :img=>"mapa.jpg", :clase=>"img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-5 text-center">
        <p>Calle imaginaria S/N</p>
        <p>Ciudad imaginaria</p>
        <p>Pais imaginario</p>
    </div>
</div>