<footer class="navbar navbar-fixed-bottom navbar-inverse">    
    <div class="container-fluid">
        <div class="row">
          <span class="col-xs-12 text-center">Sitio web desarrollado por Emilio Pulido Gil</span>
        </div>
    </div>
</footer>